/* body {
    background-color: #78e0dc;
}
.sumario{ font-size: 20px; font-style: italic; text-align: center; 

}
.titulo {
    font-family: monospace, sans-serif; 
    color:#ff6333;
     font-weight: bold;
      text-align: center;
      text-decoration: underline;
} */
